@media screen and (min-width: 480px) {
    body {
      background-color: white;
    }
  }

body {
    display: flex;
}

#navbar ul li {
  list-style: none;
  padding: 10px 20px;
  border: 1px solid black;
  font-size: 18px;
}

#navbar ul li a{
    text-decoration: none;
    color: rgb(45, 44, 44);
}

nav header {
    text-align: left;
    font-size: 24px;
    margin: 30px 50px;
    font-weight: 700;
    color: rgb(55, 54, 54);
}

#main-doc {
  margin: 10px 40px;
}

section {
    margin: 20px 0;
}
section header {
  text-align: left;
  font-size: 18px;
  font-weight: 700;
}
